<!DOCTYPE html>
<html ng-app="WebApp"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>Untitled Document</title>
	<!-- InstanceEndEditable -->
	<meta name="description" content="{{Lang.menu031}}">
	<meta name="keywords" content="{{Lang.menu030}}"> 
	<meta name="author" content="btc Americas">
	<meta name="copyright" content="btc americas"> 
	<meta name="robot" content="index,follow"> 
	<meta name="google" content="notranslate" />
	<meta name="metro4:init" content="true">
	<meta name="metro4:locale" content="es-MX">
	<meta name="metro4:week_start" content="0">
	<!--<meta property="og:title" content="" /> 
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />-->
	<!--<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@rapidweaver">
	<meta name="twitter:creator" content="@twitter-username">
	<meta name="twitter:title" content="Page Titles">
	<meta name="twitter:description" content="Description of the page content">
	<meta name="twitter:image" content="/path/to/image.png">-->
	<!--<link rel="icon" type=".png" sizes="32x32">
	<link rel="icon" type="image/png" href=".png" sizes="192x192">
	<link rel="icon" type="image/png" href=".png" sizes="96x96">
	<link rel="icon" type="image/png" href=".png" sizes="16x16">-->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/site.css?v=1.0">
	<!-- InstanceBeginEditable name="head" -->
	<!-- InstanceEndEditable -->
</head>
<body>
	<nav data-role="appbar" data-expand-point="lg" ng-controller="nav">
		<div class="container">
			<ul class="app-bar-menu flex-justify-center">
				<li>
					<a class="nav-link " href="beta/index.html"><span class="mif-home mif-2x"></span></a>
				</li>
				<li>
					<a class="nav-link dropdown-toggle" href="beta/index.html">{{Lang.menu001}}</a>
					<ul class="d-menu" data-role="dropdown">
						<li><a href="welcome.html">{{Lang.menu002}}</a></li>
						<li><a href="welcome.html">{{Lang.menu003}}</a></li>
						<li><a href="committe-int.html">{{Lang.menu004}}</a></li>
						<li><a href="committee.html">{{Lang.menu005}}</a></li>
					</ul>
				</li> 
				<li>
					<a class="nav-link" href="program.html">{{Lang.menu006}}</a>
				</li>
				<li> 
					<a class="nav-link" href="beta/index.html">{{Lang.menu007}}</a>
				</li>
				<li>
					<a class="nav-link dropdown-toggle" href="index.html">{{Lang.menu008}}</a>
					<ul class="d-menu" data-role="dropdown">
						<li><a href="beta/index.html">{{Lang.menu009}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu010}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu011}}</a></li>
					</ul>
				</li>
				<li>
					<a class="nav-link dropdown-toggle" href="index.html">{{Lang.menu012}}</a>
					<ul class="d-menu" data-role="dropdown">
						<li><a href="location.html">{{Lang.menu013}}</a></li>
						<li><a href="venue.html">{{Lang.menu014}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu015}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu016}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu017}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu018}}</a></li>
						<li><a href="climate.html">{{Lang.menu019}}</a></li>
					</ul>
				</li>
				<li>
					<a class="nav-link dropdown-toggle" href="beta/index.html">{{Lang.menu020}}</a>
					<ul class="d-menu" data-role="dropdown">
						<li><a href="beta/index.html">{{Lang.menu021}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu022}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu023}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu024}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu025}}</a></li>
						<li><a href="beta/index.html">{{Lang.menu026}}</a></li>
					</ul> 
				</li>
				<li>
					<a class="nav-link dropdown-toggle" href="beta/index.html">{{Lang.menu027}}</a>
					<ul class="d-menu" data-role="dropdown">
						<li><a href="beta/index.html">{{Lang.menu028}}</a></li> 
					</ul>
				</li>
				<li>
					<a class="nav-link" href="beta/index.html">{{Lang.menu029}}</a>
				</li>
				<!--<li><a class="nav-link" href="program.html">Program</a></li>
				<li><a class="nav-link" href="speakers.html">Speakers</a></li>
				<li><a class="nav-link" href="registration.html">Registration &amp; Abstracts</a></li>
				<li><a class="nav-link" href="venue.html">Venue &amp; Travel</a></li>
				<li><a class="nav-link" href="things.html">Things to Do</a></li>
				<li><a class="nav-link" href="contact.html">Contact Us</a></li>
				<li><a class="nav-link" href="news.html">News</a></li>-->
				<li>
					<a href="#" ng-click="TxtLang('Es')" class="flag-nav"><img src="images/mexico.png" alt="mexico"></a>
					<a href="#" ng-click="TxtLang('En')" class="flag-nav"><img src="images/eu.png" alt="mexico"></a>
				</li>
			</ul>
		</div>
	</nav> 
	<!-- InstanceBeginEditable name="content" -->
	<section ng-controller="contact">
	<h1>{{Lang.txt1}}</h1>
	</section>
	<!-- InstanceEndEditable -->
	<footer>
	</footer>
	<script src="js/lib.min.js?v=1.0" type="text/javascript"></script>
	<script src="js/angular.min.js?v=1.0" type="text/javascript"></script>
	<script src="js/translator/base.js?v=1.0" type="text/javascript"></script>
	<script src="js/site.js?v=1.0" type="text/javascript"></script>
	<!-- InstanceBeginEditable name="scripts" -->
	<script src="js/translator/contact.js?v=1.0" type="text/javascript"></script>
	<!-- InstanceEndEditable -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137964890-12"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-137964890-12');
	</script>
</body>
<!-- InstanceEnd --></html>
